
.container {
  max-width: 250px;
  margin: auto;
  background-color: #985f6f;
  color: #eef5db;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 16px 12px;
}

.container * {
  padding-bottom: 8px;
}

.container h2 {
  font-weight: 700;
  font-size: 1.2em;
}

.container h3 {
  font-weight: 400;
  font-size: 1.2em;
}